.nav-container {
    background-color: black;
    color: white;
    padding: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item-container {
    margin: 0px auto;
    width: max-content;
    list-style-type: none;
    display: flex;
    gap: 7vw;
}

.nav-item-btn {
    padding: 8px 14px;
    background-color: #3b82f6;
    color: white;
    border-radius: 1vw;
}

.nav-item-btn:hover {
    background-color: royalblue;
    cursor: pointer;
}

#algoSelect {
    margin-top: 2px;
    padding: 5px;
    width: 12vw;
    font-size: 15px;
}

@media only screen and (max-width: 800px)  {
   .nav-container {
        height: 150px;
   }

   .nav-item-container {
        flex-wrap: wrap;
   }

   #algoSelect {
    width: 32vw;
   }
}